<!--Footer-->
<style>
  footer{
    background-color:#DFDFDF;
    color: black;
    padding: 30px;
  }
  #this-site{
    padding-bottom: 0;
    margin-bottom:0;
    font-style: italic;
  }
  #footer-list{
    list-style-type: none;
  }
</style>
<footer>
  <h4>Contact Me</h4>
  <ul id="footer-list">
  <li><i class="fas fa-home"></i>   Schwenksville PA, 19473</li>
  <li><i class="fas fa-phone"></i>   610-348-2975</li>
  <li><i class="far fa-envelope"></i>   matthewrmancini@gmail.com</li>
  <li><i class="fab fa-linkedin"></i>   https://www.linkedin.com/in/matthew-mancini-7315aa149/</li>
  </ul>
  <p id="this-site">This site was written from scratch using HTML, CSS, Boostrap, and JQuery. </p>
</footer>
