.row > div > div{
  padding-bottom: 50px;
}
body{
  font-family: Barlow;
  background-color: #F9FAFA;
}
.description{
  line-height: 1.2;
  font-weight: 300;
  color: #262626;
}
.title{
  font-weight: 500;
}
.subtitle{
  font-size: 120%;
  /*color: #3D3D3D;*/
}
#top-nav{
  padding-bottom: 50px;
}
.badge{
  background-color: #3399ff;
  color: white;
  font-size: 85%;
}
ul > li{
  color: #262626;
  font-weight: 300;
}
