#headshot{
  margin-top:60px;
}
#headshot > img{
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 20%;
  height: auto;
}
#about-text{
  padding-top: 40px;
  width:50%;
  text-align: center;
  margin: auto;
}
