<style>
.navbar-nav.navbar-center {
  background: white;
}
h1{
  padding-top: 50px;

}
.navbar{
  background-color: inherit;
  border-style: none;
  text-align: center;
}
#name{
  margin-bottom:0;
  padding-bottom:0;

}
#nav-list{
  margin: auto;
}
#nav-list > li > a{
  padding: 5px 7px;
}

</style>
<h1 id="name" class="text-center">Matt Mancini</h1>
<nav class="navbar navbar-expand-lg navbar-light " role="navigation">
      <ul id="nav-list" class="navbar-nav navbar-center">
          <li class="nav-item"><a href="index.html" class="nav-link">ABOUT</a></li>
          <li class="nav-item"><a href="resume.html" class="nav-link">RESUME</a></li>
          <li class="nav-item"><a href="experience.html" class="nav-link">EXPERIENCE</a></li>
          <li class="nav-item"><a href="projects.html" class="nav-link">PROJECTS</a></li>
          <li class="nav-item"><a href="awards.html" class="nav-link">AWARDS</a></li>
      </ul>
</nav>
