.video{
  margin: auto;
}
.carousel-inner img {
      width: auto;
      height: 22vw;
      max-height: 22vw;
      margin: auto;
  }
.tagline{
  margin:0;
  padding: 0;
  font-style: italic;
  color:grey;

}
.title{
  padding: 0;
  margin: 0;
}
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
  }

  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    font-weight: bold;
    color: black;
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    font-weight: bold;
    color: black;
  }
.carousel.slide{
  width:75%;
  height:auto;
  margin:auto;
}
.gif{
  width:75vw;
}
#scatter{
  display: block;
  width: 45%;
  margin:auto;
}
#song-download{
  width:75%;
  margin:auto;
}
.carousel{
  padding-bottom: 30px;
}

.tagline{
  padding-bottom: 20px;
}
.video-overlay{
    position:absolute;
    width:160px;
    min-height:40px;
    background-color:#dadada;
    z-index:300000;
    bottom:10px;
    left:10px;
    text-align:center;
}
